globals.json
[
    {
      "id": "ba8c9b6850653770",
      "type": "tab",
      "label": "Globals",
      "disabled": false,
      "info": "",
      "env": []
    },
    {
      "id": "da8b3fa09cc49e80",
      "type": "server-state-changed",
      "z": "ba8c9b6850653770",
      "name": "Bedroom Hum",
      "server": "",
      "version": 4,
      "exposeToHomeAssistant": false,
      "haConfig": [
        {
          "property": "name",
          "value": ""
        },
        {
          "property": "icon",
          "value": ""
        }
      ],
      "entityidfilter": "sensor.bedroom_temp_hum_humidity",
      "entityidfiltertype": "exact",
      "outputinitially": false,
      "state_type": "num",
      "haltifstate": "",
      "halt_if_type": "str",
      "halt_if_compare": "is",
      "outputs": 1,
      "output_only_on_state_change": true,
      "for": "0",
      "forType": "num",
      "forUnits": "minutes",
      "ignorePrevStateNull": true,
      "ignorePrevStateUnknown": true,
      "ignorePrevStateUnavailable": true,
      "ignoreCurrentStateUnknown": true,
      "ignoreCurrentStateUnavailable": true,
      "outputProperties": [
        {
          "property": "payload",
          "propertyType": "msg",
          "value": "",
          "valueType": "entityState"
        },
        {
          "property": "data",
          "propertyType": "msg",
          "value": "",
          "valueType": "eventData"
        },
        {
          "property": "topic",
          "propertyType": "msg",
          "value": "",
          "valueType": "triggerId"
        }
      ],
      "x": 110,
      "y": 60,
      "wires": [
        [
          "5565ab7e00762cbc"
        ]
      ]
    },
    {
      "id": "7a89c29dad6ea318",
      "type": "server-state-changed",
      "z": "ba8c9b6850653770",
      "name": "Hallway Hum",
      "server": "",
      "version": 4,
      "exposeToHomeAssistant": false,
      "haConfig": [
        {
          "property": "name",
          "value": ""
        },
        {
          "property": "icon",
          "value": ""
        }
      ],
      "entityidfilter": "sensor.hallway_temp_hum_humidity",
      "entityidfiltertype": "exact",
      "outputinitially": false,
      "state_type": "num",
      "haltifstate": "",
      "halt_if_type": "str",
      "halt_if_compare": "is",
      "outputs": 1,
      "output_only_on_state_change": true,
      "for": "0",
      "forType": "num",
      "forUnits": "minutes",
      "ignorePrevStateNull": true,
      "ignorePrevStateUnknown": true,
      "ignorePrevStateUnavailable": true,
      "ignoreCurrentStateUnknown": true,
      "ignoreCurrentStateUnavailable": true,
      "outputProperties": [
        {
          "property": "payload",
          "propertyType": "msg",
          "value": "",
          "valueType": "entityState"
        },
        {
          "property": "data",
          "propertyType": "msg",
          "value": "",
          "valueType": "eventData"
        },
        {
          "property": "topic",
          "propertyType": "msg",
          "value": "",
          "valueType": "triggerId"
        }
      ],
      "x": 100,
      "y": 120,
      "wires": [
        [
          "8090501f6104fca9"
        ]
      ]
    },
    {
      "id": "41d1312bef0c522a",
      "type": "server-state-changed",
      "z": "ba8c9b6850653770",
      "name": "Kitchen Hum",
      "server": "",
      "version": 4,
      "exposeToHomeAssistant": false,
      "haConfig": [
        {
          "property": "name",
          "value": ""
        },
        {
          "property": "icon",
          "value": ""
        }
      ],
      "entityidfilter": "sensor.kitchen_temp_hum_humidity",
      "entityidfiltertype": "exact",
      "outputinitially": false,
      "state_type": "num",
      "haltifstate": "",
      "halt_if_type": "str",
      "halt_if_compare": "is",
      "outputs": 1,
      "output_only_on_state_change": true,
      "for": "0",
      "forType": "num",
      "forUnits": "minutes",
      "ignorePrevStateNull": true,
      "ignorePrevStateUnknown": true,
      "ignorePrevStateUnavailable": true,
      "ignoreCurrentStateUnknown": true,
      "ignoreCurrentStateUnavailable": true,
      "outputProperties": [
        {
          "property": "payload",
          "propertyType": "msg",
          "value": "",
          "valueType": "entityState"
        },
        {
          "property": "data",
          "propertyType": "msg",
          "value": "",
          "valueType": "eventData"
        },
        {
          "property": "topic",
          "propertyType": "msg",
          "value": "",
          "valueType": "triggerId"
        }
      ],
      "x": 100,
      "y": 180,
      "wires": [
        [
          "f6852f807b178f76"
        ]
      ]
    },
    {
      "id": "5565ab7e00762cbc",
      "type": "change",
      "z": "ba8c9b6850653770",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "bedroom_hum",
          "pt": "global",
          "to": "payload",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 340,
      "y": 60,
      "wires": [
        [
          "2a0d9423c6afdb8a"
        ]
      ]
    },
    {
      "id": "8090501f6104fca9",
      "type": "change",
      "z": "ba8c9b6850653770",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "hallway_hum",
          "pt": "global",
          "to": "payload",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 340,
      "y": 120,
      "wires": [
        [
          "2a0d9423c6afdb8a"
        ]
      ]
    },
    {
      "id": "f6852f807b178f76",
      "type": "change",
      "z": "ba8c9b6850653770",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "kitchen_hum",
          "pt": "global",
          "to": "payload",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 330,
      "y": 180,
      "wires": [
        [
          "2a0d9423c6afdb8a"
        ]
      ]
    },
    {
      "id": "52c5b886b725af46",
      "type": "server-state-changed",
      "z": "ba8c9b6850653770",
      "name": "Bathroom Hum",
      "server": "",
      "version": 4,
      "exposeToHomeAssistant": false,
      "haConfig": [
        {
          "property": "name",
          "value": ""
        },
        {
          "property": "icon",
          "value": ""
        }
      ],
      "entityidfilter": "sensor.bathroom_temp_hum_humidity",
      "entityidfiltertype": "exact",
      "outputinitially": false,
      "state_type": "num",
      "haltifstate": "",
      "halt_if_type": "str",
      "halt_if_compare": "is",
      "outputs": 1,
      "output_only_on_state_change": true,
      "for": "0",
      "forType": "num",
      "forUnits": "minutes",
      "ignorePrevStateNull": true,
      "ignorePrevStateUnknown": true,
      "ignorePrevStateUnavailable": true,
      "ignoreCurrentStateUnknown": true,
      "ignoreCurrentStateUnavailable": true,
      "outputProperties": [
        {
          "property": "payload",
          "propertyType": "msg",
          "value": "",
          "valueType": "entityState"
        },
        {
          "property": "data",
          "propertyType": "msg",
          "value": "",
          "valueType": "eventData"
        },
        {
          "property": "topic",
          "propertyType": "msg",
          "value": "",
          "valueType": "triggerId"
        }
      ],
      "x": 110,
      "y": 240,
      "wires": [
        [
          "34069bbe28831ed2"
        ]
      ]
    },
    {
      "id": "34069bbe28831ed2",
      "type": "change",
      "z": "ba8c9b6850653770",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "bathroom_hum",
          "pt": "global",
          "to": "payload",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 340,
      "y": 240,
      "wires": [
        [
          "2a0d9423c6afdb8a"
        ]
      ]
    },
    {
      "id": "adb3426d33e987ba",
      "type": "change",
      "z": "ba8c9b6850653770",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "living_room_hum",
          "pt": "global",
          "to": "payload",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 350,
      "y": 300,
      "wires": [
        [
          "2a0d9423c6afdb8a"
        ]
      ]
    },
    {
      "id": "bea2e078348cf44d",
      "type": "server-state-changed",
      "z": "ba8c9b6850653770",
      "name": "Living Room Hum",
      "server": "",
      "version": 4,
      "exposeToHomeAssistant": false,
      "haConfig": [
        {
          "property": "name",
          "value": ""
        },
        {
          "property": "icon",
          "value": ""
        }
      ],
      "entityidfilter": "sensor.living_room_temp_hum_humidity",
      "entityidfiltertype": "exact",
      "outputinitially": false,
      "state_type": "num",
      "haltifstate": "",
      "halt_if_type": "str",
      "halt_if_compare": "is",
      "outputs": 1,
      "output_only_on_state_change": true,
      "for": "0",
      "forType": "num",
      "forUnits": "minutes",
      "ignorePrevStateNull": true,
      "ignorePrevStateUnknown": true,
      "ignorePrevStateUnavailable": true,
      "ignoreCurrentStateUnknown": true,
      "ignoreCurrentStateUnavailable": true,
      "outputProperties": [
        {
          "property": "payload",
          "propertyType": "msg",
          "value": "",
          "valueType": "entityState"
        },
        {
          "property": "data",
          "propertyType": "msg",
          "value": "",
          "valueType": "eventData"
        },
        {
          "property": "topic",
          "propertyType": "msg",
          "value": "",
          "valueType": "triggerId"
        }
      ],
      "x": 120,
      "y": 300,
      "wires": [
        [
          "adb3426d33e987ba"
        ]
      ]
    },
    {
      "id": "2a0d9423c6afdb8a",
      "type": "function",
      "z": "ba8c9b6850653770",
      "name": "Hum Avg",
      "func": "let data = [];\ndata.push(global.get('bedroom_hum'));\ndata.push(global.get('hallway_hum'));\ndata.push(global.get('kitchen_hum'));\ndata.push(global.get('bathroom_hum'));\ndata.push(global.get('living_room_hum'));\n\nlet sum = 0;\nfor (var number of data) {\n    sum += number;\n}\nvar average = sum / data.length;\nmsg.payload = Math.round(average * 100) / 100;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 680,
      "y": 180,
      "wires": [
        [
          "7059ce55eb4d63fb"
        ]
      ]
    },
    {
      "id": "7059ce55eb4d63fb",
      "type": "change",
      "z": "ba8c9b6850653770",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "avg_humidity",
          "pt": "global",
          "to": "payload",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 890,
      "y": 180,
      "wires": [
        [
          "a6d32cc4fd88fce6"
        ]
      ]
    },
    {
      "id": "a6d32cc4fd88fce6",
      "type": "ha-entity",
      "z": "ba8c9b6850653770",
      "name": "Average Humidity",
      "server": "",
      "version": 2,
      "debugenabled": false,
      "outputs": 1,
      "entityType": "sensor",
      "config": [
        {
          "property": "name",
          "value": "Average Humidity"
        },
        {
          "property": "device_class",
          "value": ""
        },
        {
          "property": "icon",
          "value": ""
        },
        {
          "property": "unit_of_measurement",
          "value": ""
        },
        {
          "property": "state_class",
          "value": ""
        },
        {
          "property": "last_reset",
          "value": ""
        }
      ],
      "state": "avg_humidity",
      "stateType": "global",
      "attributes": [],
      "resend": true,
      "outputLocation": "payload",
      "outputLocationType": "none",
      "inputOverride": "allow",
      "outputOnStateChange": false,
      "outputPayload": "",
      "outputPayloadType": "str",
      "x": 1110,
      "y": 140,
      "wires": [
        []
      ]
    },
    {
      "id": "59ba3e4a5e6c69a6",
      "type": "server-state-changed",
      "z": "ba8c9b6850653770",
      "name": "Bedroom Temp",
      "server": "",
      "version": 4,
      "exposeToHomeAssistant": false,
      "haConfig": [
        {
          "property": "name",
          "value": ""
        },
        {
          "property": "icon",
          "value": ""
        }
      ],
      "entityidfilter": "sensor.bedroom_temp_hum_temperature",
      "entityidfiltertype": "exact",
      "outputinitially": false,
      "state_type": "num",
      "haltifstate": "",
      "halt_if_type": "str",
      "halt_if_compare": "is",
      "outputs": 1,
      "output_only_on_state_change": true,
      "for": "0",
      "forType": "num",
      "forUnits": "minutes",
      "ignorePrevStateNull": true,
      "ignorePrevStateUnknown": true,
      "ignorePrevStateUnavailable": true,
      "ignoreCurrentStateUnknown": true,
      "ignoreCurrentStateUnavailable": true,
      "outputProperties": [
        {
          "property": "payload",
          "propertyType": "msg",
          "value": "",
          "valueType": "entityState"
        },
        {
          "property": "data",
          "propertyType": "msg",
          "value": "",
          "valueType": "eventData"
        },
        {
          "property": "topic",
          "propertyType": "msg",
          "value": "",
          "valueType": "triggerId"
        }
      ],
      "x": 100,
      "y": 420,
      "wires": [
        [
          "875262823cb05be4"
        ]
      ]
    },
    {
      "id": "d08c9699544e0e32",
      "type": "server-state-changed",
      "z": "ba8c9b6850653770",
      "name": "Hallway Temp",
      "server": "",
      "version": 4,
      "exposeToHomeAssistant": false,
      "haConfig": [
        {
          "property": "name",
          "value": ""
        },
        {
          "property": "icon",
          "value": ""
        }
      ],
      "entityidfilter": "sensor.hallway_temp_hum_temperature",
      "entityidfiltertype": "exact",
      "outputinitially": false,
      "state_type": "num",
      "haltifstate": "",
      "halt_if_type": "str",
      "halt_if_compare": "is",
      "outputs": 1,
      "output_only_on_state_change": true,
      "for": "0",
      "forType": "num",
      "forUnits": "minutes",
      "ignorePrevStateNull": true,
      "ignorePrevStateUnknown": true,
      "ignorePrevStateUnavailable": true,
      "ignoreCurrentStateUnknown": true,
      "ignoreCurrentStateUnavailable": true,
      "outputProperties": [
        {
          "property": "payload",
          "propertyType": "msg",
          "value": "",
          "valueType": "entityState"
        },
        {
          "property": "data",
          "propertyType": "msg",
          "value": "",
          "valueType": "eventData"
        },
        {
          "property": "topic",
          "propertyType": "msg",
          "value": "",
          "valueType": "triggerId"
        }
      ],
      "x": 80,
      "y": 480,
      "wires": [
        [
          "a08483b1f234a4f0"
        ]
      ]
    },
    {
      "id": "32c2969e3139de31",
      "type": "server-state-changed",
      "z": "ba8c9b6850653770",
      "name": "Kitchen Temp",
      "server": "",
      "version": 4,
      "exposeToHomeAssistant": false,
      "haConfig": [
        {
          "property": "name",
          "value": ""
        },
        {
          "property": "icon",
          "value": ""
        }
      ],
      "entityidfilter": "sensor.kitchen_temp_hum_temperature",
      "entityidfiltertype": "exact",
      "outputinitially": false,
      "state_type": "num",
      "haltifstate": "",
      "halt_if_type": "str",
      "halt_if_compare": "is",
      "outputs": 1,
      "output_only_on_state_change": true,
      "for": "0",
      "forType": "num",
      "forUnits": "minutes",
      "ignorePrevStateNull": true,
      "ignorePrevStateUnknown": true,
      "ignorePrevStateUnavailable": true,
      "ignoreCurrentStateUnknown": true,
      "ignoreCurrentStateUnavailable": true,
      "outputProperties": [
        {
          "property": "payload",
          "propertyType": "msg",
          "value": "",
          "valueType": "entityState"
        },
        {
          "property": "data",
          "propertyType": "msg",
          "value": "",
          "valueType": "eventData"
        },
        {
          "property": "topic",
          "propertyType": "msg",
          "value": "",
          "valueType": "triggerId"
        }
      ],
      "x": 80,
      "y": 540,
      "wires": [
        [
          "c839b7ddcdb6802a"
        ]
      ]
    },
    {
      "id": "875262823cb05be4",
      "type": "change",
      "z": "ba8c9b6850653770",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "bedroom_temp",
          "pt": "global",
          "to": "payload",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 320,
      "y": 420,
      "wires": [
        [
          "920e4cc0b36dc772"
        ]
      ]
    },
    {
      "id": "a08483b1f234a4f0",
      "type": "change",
      "z": "ba8c9b6850653770",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "hallway_temp",
          "pt": "global",
          "to": "payload",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 320,
      "y": 480,
      "wires": [
        [
          "920e4cc0b36dc772"
        ]
      ]
    },
    {
      "id": "c839b7ddcdb6802a",
      "type": "change",
      "z": "ba8c9b6850653770",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "kitchen_temp",
          "pt": "global",
          "to": "payload",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 320,
      "y": 540,
      "wires": [
        [
          "920e4cc0b36dc772"
        ]
      ]
    },
    {
      "id": "61af54d22bcff33c",
      "type": "server-state-changed",
      "z": "ba8c9b6850653770",
      "name": "Bathroom Temp",
      "server": "",
      "version": 4,
      "exposeToHomeAssistant": false,
      "haConfig": [
        {
          "property": "name",
          "value": ""
        },
        {
          "property": "icon",
          "value": ""
        }
      ],
      "entityidfilter": "sensor.bathroom_temp_hum_temperature",
      "entityidfiltertype": "exact",
      "outputinitially": false,
      "state_type": "num",
      "haltifstate": "",
      "halt_if_type": "str",
      "halt_if_compare": "is",
      "outputs": 1,
      "output_only_on_state_change": true,
      "for": "0",
      "forType": "num",
      "forUnits": "minutes",
      "ignorePrevStateNull": true,
      "ignorePrevStateUnknown": true,
      "ignorePrevStateUnavailable": true,
      "ignoreCurrentStateUnknown": true,
      "ignoreCurrentStateUnavailable": true,
      "outputProperties": [
        {
          "property": "payload",
          "propertyType": "msg",
          "value": "",
          "valueType": "entityState"
        },
        {
          "property": "data",
          "propertyType": "msg",
          "value": "",
          "valueType": "eventData"
        },
        {
          "property": "topic",
          "propertyType": "msg",
          "value": "",
          "valueType": "triggerId"
        }
      ],
      "x": 90,
      "y": 600,
      "wires": [
        [
          "c633a897f868d09b"
        ]
      ]
    },
    {
      "id": "c633a897f868d09b",
      "type": "change",
      "z": "ba8c9b6850653770",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "bathroom_temp",
          "pt": "global",
          "to": "payload",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 320,
      "y": 600,
      "wires": [
        [
          "920e4cc0b36dc772"
        ]
      ]
    },
    {
      "id": "8d89f1e190271b25",
      "type": "change",
      "z": "ba8c9b6850653770",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "living_room_temp",
          "pt": "global",
          "to": "payload",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 330,
      "y": 660,
      "wires": [
        [
          "920e4cc0b36dc772"
        ]
      ]
    },
    {
      "id": "0bd5126d2d9b5a81",
      "type": "server-state-changed",
      "z": "ba8c9b6850653770",
      "name": "Living Room Temp",
      "server": "",
      "version": 4,
      "exposeToHomeAssistant": false,
      "haConfig": [
        {
          "property": "name",
          "value": ""
        },
        {
          "property": "icon",
          "value": ""
        }
      ],
      "entityidfilter": "sensor.living_room_temp_hum_temperature",
      "entityidfiltertype": "exact",
      "outputinitially": false,
      "state_type": "num",
      "haltifstate": "",
      "halt_if_type": "str",
      "halt_if_compare": "is",
      "outputs": 1,
      "output_only_on_state_change": true,
      "for": "0",
      "forType": "num",
      "forUnits": "minutes",
      "ignorePrevStateNull": true,
      "ignorePrevStateUnknown": true,
      "ignorePrevStateUnavailable": true,
      "ignoreCurrentStateUnknown": true,
      "ignoreCurrentStateUnavailable": true,
      "outputProperties": [
        {
          "property": "payload",
          "propertyType": "msg",
          "value": "",
          "valueType": "entityState"
        },
        {
          "property": "data",
          "propertyType": "msg",
          "value": "",
          "valueType": "eventData"
        },
        {
          "property": "topic",
          "propertyType": "msg",
          "value": "",
          "valueType": "triggerId"
        }
      ],
      "x": 100,
      "y": 660,
      "wires": [
        [
          "8d89f1e190271b25"
        ]
      ]
    },
    {
      "id": "920e4cc0b36dc772",
      "type": "function",
      "z": "ba8c9b6850653770",
      "name": "Avg Temp",
      "func": "let data = [];\ndata.push(global.get('bedroom_temp'));\ndata.push(global.get('hallway_temp'));\ndata.push(global.get('kitchen_temp'));\ndata.push(global.get('bathroom_temp'));\ndata.push(global.get('living_room_temp'));\n\nlet sum = 0;\nfor (var number of data) {\n    sum += number;\n    \n}\nvar average = sum / data.length;\nmsg.payload = Math.round(average * 100) / 100;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 660,
      "y": 540,
      "wires": [
        [
          "0dae390f3c514b62"
        ]
      ]
    },
    {
      "id": "0dae390f3c514b62",
      "type": "change",
      "z": "ba8c9b6850653770",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "avg_temperature",
          "pt": "global",
          "to": "payload",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 880,
      "y": 540,
      "wires": [
        [
          "7c18b96a391df78b"
        ]
      ]
    },
    {
      "id": "7c18b96a391df78b",
      "type": "ha-entity",
      "z": "ba8c9b6850653770",
      "name": "Average Temperature",
      "server": "",
      "version": 2,
      "debugenabled": false,
      "outputs": 1,
      "entityType": "sensor",
      "config": [
        {
          "property": "name",
          "value": "Average Temperature"
        },
        {
          "property": "device_class",
          "value": ""
        },
        {
          "property": "icon",
          "value": ""
        },
        {
          "property": "unit_of_measurement",
          "value": ""
        },
        {
          "property": "state_class",
          "value": ""
        },
        {
          "property": "last_reset",
          "value": ""
        }
      ],
      "state": "avg_temperature",
      "stateType": "global",
      "attributes": [],
      "resend": true,
      "outputLocation": "payload",
      "outputLocationType": "none",
      "inputOverride": "allow",
      "outputOnStateChange": false,
      "outputPayload": "",
      "outputPayloadType": "str",
      "x": 1120,
      "y": 500,
      "wires": [
        []
      ]
    },
    {
      "id": "49efe60bbd2d35a0",
      "type": "inject",
      "z": "ba8c9b6850653770",
      "name": "",
      "props": [
        {
          "p": "payload"
        },
        {
          "p": "topic",
          "vt": "str"
        }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "x": 520,
      "y": 360,
      "wires": [
        [
          "2a0d9423c6afdb8a",
          "920e4cc0b36dc772"
        ]
      ]
    }
  ]